__pycache__/
.vscode
src/pulsesuite/PSTD3D/fields/
src/pulsesuite/PSTD3D/output/
src/pulsesuite/PSTD3D/dataQW/
src/pulsesuite/PSTD3D/sim/
src/pulsesuite/PSTD3D/__pycache__/
tests/PSTD3D/dataQW/*
integrations.md
*.egg-info/
.DS_Store
*.pyc
.venv/
