*_pycache_*
.vscode
src/pulsesuite/PSTD3D/fields/
src/pulsesuite/PSTD3D/output/
src/pulsesuite/PSTD3D/dataQW/
src/pulsesuite/PSTD3D/sim/
src/pulsesuite/PSTD3D/__pycache__/
aiprompts
cuda_test.py
notes.txt
integrations.md
